body {
  background: #f0f2f5;
}

.header {
  display: flex;
} 

.header h1 {
  color: #fff;
  margin: 0 2rem 0 0 ;
  font-weight: bold;
  font-size: 1.6rem;
}

.header ul {
  width: 100%;
} 

.layout-container {
  height: 100vh;
}

.inner-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px;

}

footer {
  text-align: center;
} 
