body {
  margin: 0;
  background: #f0f2f5;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  outline: none;
  text-decoration: none;
}

a:link,
a:visited {
  color: #0b5ed7;
}

a:focus,
a:hover,
a:active {
  color: #0d6efd;
  text-decoration: underline;
}

#root {
  height: 100vh;
  display: grid;
  grid-template-areas:
    "header header"
    "nav main"
    "footer footer";
  grid-template-rows: 80px 1fr 70px;
  grid-template-columns: 25% 1fr;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
}

header,
footer,
main,
nav {
  padding: 1em;
}

header {
  grid-area: header;
}

footer {
  grid-area: footer;
  text-align: center;
}

main {
  grid-area: main;
}

nav {
  grid-area: nav;
}

nav ul,
nav li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav a {
  display: block;
  padding: 0.5em 1em;
  font-weight: bold;
}
