<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/@babel/standalone@7.28.0/babel.min.js"></script>
  </head>
  <body>
    <div id="app"></div>
    <script type="text/babel" data-type="module" data-presets="react">
      import React from "https://esm.sh/react@19.2.0";
      import { createRoot } from "https://esm.sh/react-dom@19.2.0/client";
      
      const app = document.getElementById("app");
      const root = createRoot(app);

      const MyDiv = (props) => {
        return <div>{props.children}</div>;
      };

      const element = (
        <div className="container">
          <MyDiv>Hello World</MyDiv>
          <MyDiv>
            Welcome all!
            <MyDiv>Hi I'm a component</MyDiv>
          </MyDiv>
          <MyDiv>
            <h1>Title</h1>
            <p>Welcome</p>
          </MyDiv>
        </div>
      );

      root.render(element);
    </script>
  </body>
</html>
