<html>
  <head>
    <script src="https://unpkg.com/react@18/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
  </head>
  <body>
    <div id="app"></div>
    <script type="text/babel">
      const app = document.getElementById("app");
      const root = ReactDOM.createRoot(app);

      const Avatar = (props) => {
        return (
          <div>
            <h3>{props.username}</h3>
            <img width="100" src={props.imgUrl} />
            <p>My age is {props.age}</p>
            <p>My hobbies are:</p>
            <ul>
              {props.hobbies.map((hobbie) => (
                <li key={hobbie}>{hobbie}</li>
              ))}
            </ul>
            <p>
              I use {props.technologies.base} as a base and{" "}
              {props.technologies.library} for the rest
            </p>
            {props.isOlympiakos ? (
              <div>Ολυμπιακάρα</div>
            ) : (
              <div>Υπάρχουν και άλλες ομάδες;</div>
            )}
            <button onClick={props.handleClick}>Click me</button>
          </div>
        );
      };

      root.render(
        <Avatar
          username="tsevdos"
          age={37}
          imgUrl="https://pbs.twimg.com/profile_images/1170277252858372097/zj_tU1kT_400x400.jpg"
          isOlympiakos={true}
          hobbies={["coding", "football", "movies"]}
          technologies={{
            base: "JavaScript",
            library: "React",
          }}
          handleClick={() => console.log("Clicked!")}
        />
      );
    </script>
  </body>
</html>
