<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/@babel/standalone@7.28.0/babel.min.js"></script>
  </head>
  <body>
    <div id="app"></div>
    <script type="text/babel" data-type="module" data-presets="react">
      import React from "https://esm.sh/react@19.2.0";
      import { createRoot } from "https://esm.sh/react-dom@19.2.0/client";
      const app = document.getElementById("app");
      const root = createRoot(app);

      const data = [
        {
          title: "Total",
          number: 10358,
          percentage: "+ 3%",
        },
        {
          title: "Direct",
          number: 8560,
          percentage: "+ 10%",
        },
        {
          title: "Referral",
          number: 1798,
          percentage: "- 1%",
        },
      ];

      const Widget = (props) => {
        return (
          <div>
            <h2>{props.title}</h2>
            <img width="30" height="30" src={props.logo} />
            {props.data.map((entry) => {
              return (
                <div key={entry.title}>
                  <h3>{entry.title}</h3>
                  <p>
                    {entry.number} &nbsp;<span>{entry.percentage}</span>
                  </p>
                </div>
              );
            })}
          </div>
        );
      };

      root.render(
        <Widget
          title="Website traffic"
          logo="https://cdn-icons-png.flaticon.com/512/5610/5610944.png"
          data={data}
        />
      );
    </script>
  </body>
</html>
