<html>
  <head>
    <script src="https://unpkg.com/react@18/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
  </head>
  <body>
    <div id="app"></div>
    <script type="text/babel">
      const app = document.getElementById("app");
      const root = ReactDOM.createRoot(app);

      const FavoriteColorsList = ({ list }) => {
        return (
          <div>
            {list.length > 0 && (
              <div>
                {list.map((color) => (
                  <span key={color}>{color},&nbsp;</span>
                ))}
              </div>
            )}
          </div>
        );
      };

      root.render(<FavoriteColorsList list={["red", "blue"]} />);
    </script>
  </body>
</html>
